// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

img {
  object-fit: cover;
}

#views_login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #formLoginByUsernamePassword {

  }
}

.title-item-list {
  font-size: 1.2rem;
}

.menu-active {
  .material-icons, .MuiListItemText-root {
    color: #fff !important;
  }

  background-color: #007bff !important;
}

.swal2-container {
  z-index: 9999 !important;
}

.item-list-bill {
  .customer-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #005cbf;
  }

  .status {
    color: #fd7e14;
    font-size: 12px;
  }

  .product-main {

    .product-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-right: 5px;
    }

    .product-name {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }

  .total-bill {
    .count-products {

    }

    .total-products,
    .total-price {
      font-weight: 600;
    }

    .total-price {
      color: #fd7e14;
    }
  }
}

.my-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.panel-detail-bill {
  .MuiBox-root {
    min-width: 500px;
  }

  .customer {
    border-radius: 10px;
    border-bottom: 1px solid #ddd;

    .title {
      color: #1c7430;
    }

    .customer-name {
      color: #005cbf;
    }
  }

  .list-product {
    border-bottom: 1px solid #ddd;

    .title {
      color: #005cbf;
    }

    .product-item {
      margin: 5px 0;
      .product-image {
        width: 100px !important;
        height: 100% !important;
        //object-fit: cover;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-right: 5px;
        padding: 5px;
      }

      .product-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }

      .total-price {
        .price-is-discount {
          text-decoration: line-through;
          color: lightslategrey;
        }

        .price-after-discount {
          margin-left: 5px;
          color: #c82333;
        }
      }
    }
  }

  .result {
    border-radius: 10px;
    width: 100%;

    .title {
      color: #fd7e14;
    }

    table {
      width: 100%;
    }
  }
}

.panel-detail-insurance {
  .product-price {
    color: #fd7e14;
  }

  .avatar-customer {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
  }
}

.product-name-vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.product-name-vertical-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#list_product_main {
  .item-list-product {
    .product-name {
      font-size: 1rem;
    }
  }
}

.my-list-item-action {
  .MuiListItemSecondaryAction-root {
    right: 0!important;
  }
}

.item-list-customer {
  .MuiListItemAvatar-root {
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.item-list-insurance {
  .customer-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #005cbf;
  }

  .bill-id {
    color: #fd7e14;
  }

  .product-main {
    .product-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
}