// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

#views_login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #formLoginByUsernamePassword {

  }
}

.title-item-list {
  font-size: 1.2rem;
}

.menu-active {
  .material-icons, .MuiListItemText-root {
    color: #fff !important;
  }

  background-color: #007bff !important;
}